[submodule "pinconf"]
	path = pinconf
	url = https://github.com/pinpalverse/pinconf
[submodule "pinlog"]
	path = pinlog
	url = https://github.com/pinpalverse/pinlog
[submodule "pinmem"]
	path = pinmem
	url = https://github.com/pinpalverse/pinmem
